.body-headline {
  color: darkgoldenrod;
  margin: 20px;
}

.body-warning-text {
  animation-name: simple;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  background: radial-gradient( #E84D3C, #FBB80C);
  border-radius: 10px;
  box-shadow: 0 0 30px black;
  color: white;
  left: 50%;
  position: absolute;
  text-shadow: 4px 4px 5px black;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

@keyframes simple {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 40px;
  }
  100% {
    font-size: 20px;
  }
}

.btn-warning {
  background: #CF5300;
  border-color: #E84D3C;
  color: #ffffff;
}

.btn-warning:hover {
  background: #4D1E00;
}
