agm-map {
  height: 500px;
}

.carousel-item {
  max-height: 500px;
}

.carousel.slide {
  box-shadow: 0 0 50px black;
}

.container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 40px black;
  background: url('/src/app/home/img/bg-pattern.png')
}

.text-center {
  color: white;
  text-shadow: 4px 4px 20px black;
}
