<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="home">Határidőnapló</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="home">Főoldal</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="profile">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="knowledge">Tudásbázis</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="api">RESTful API</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="connect">Kapcsolat</a>
      </li>
    </ul>
    <button class="btn btn-warning">Login</button>
  </div>
</nav>
<router-outlet></router-outlet>
