nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='#') Navbar w/ text
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-item.nav-link(class='valami',routerlink='home') Home
      li.nav-item
        a.nav-item.nav-link(routerlink='profile') Trips
      li.nav-item
        a.nav-item.nav-link(routerlink='knowledge') Trips
      li.nav-item
        a.nav-item.nav-link(routerlink='api') Trips
      li.nav-item
        a.nav-item.nav-link(routerlink='connect') Trips
    button.btn.btn-warning Login
router-outlet
