<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="home">Határidőnapló</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="home">Főoldal</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="profile">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="knowledge">Tudásbázis</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="api">RESTful API</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="connect">Kapcsolat</a>
      </li>
    </ul>
    <span *ngIf="logged" style="color:white">Üdv {{log[0].name}}! &nbsp; &nbsp; &nbsp; </span>
    <button *ngIf="!logged" data-toggle="modal" data-target="#loginModal" class="btn btn-warning">Sign in</button>
    <button *ngIf="logged" (click)="signOut()" class="btn btn-warning">Sign out</button>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="logreg == 1">
        <label for="email">Your E-mail Address:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="far fa-user"></i>
            </span>
          </div>
          <input class="form-control" id="email" type="text" placeholder="valami@valami.hu" [(ngModel)]="user.email">
        </div>
        <label for="pass">Your Password:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input class="form-control" id="pass" type="password" placeholder="Password" [(ngModel)]="user.pass">
        </div>
        <label for="repass">Re-type Your Password:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input class="form-control" id="repass" type="password" placeholder="Repeat Password">
        </div>
        <label for="name">Nickname:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon4">
              <i class="fas fa-user-secret"></i>
            </span>
          </div>
          <input class="form-control" id="name" type="text" placeholder="Your Nick" [(ngModel)]="user.name">
        </div>
      </div>
      <div class="modal-body" *ngIf="logreg == -1">
        <label for="email">Your E-mail Address:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="far fa-user"></i>
            </span>
          </div>
          <input class="form-control" id="email" type="text" placeholder="valami@valami.hu" [(ngModel)]="user.email">
        </div>
        <label for="pass">Your Password:</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <input class="form-control" id="pass" type="password" placeholder="Password" [(ngModel)]="user.pass">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-danger" (click)="switchRegLog()">{{modalTitle=="Register"?"Login Page":"Register Page"}}</button>
        <button type="button" data-toggle="modal" data-target="#loginModal" class="btn btn-warning" (click)="signIn()">{{modalTitle=="Register"?"Create New Account":"Sign In"}}</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
