.container
  h3.text-center Bemutatkozás
  br
  .row
    .col-md-6
      img.body-main-img(src="/src/app/profile/profile.jpg", alt="profile")
    .col-md-6
      h3.text-center Tanulmányok:
      ul.list-group
        li.list-group-item.list-group-item-success Általános iskola:
        li.list-group-item Beethoven Általános Iskola 1997-2001
        li.list-group-item.list-group-item-warning Középiskola:
        li.list-group-item Vörösmarty Mihály Gimnázium 2001-2009
        li.list-group-item.list-group-item-dark Főiskola/Egyetem
        li.list-group-item BME Közlekedésmérnöki Kar 2009-2016
      h3.text-center Nyelvismeret:
      ul.list-group
        li.list-group-item.list-group-item-success Angol:
        li.list-group-item Középfokú, nyelvizsgával
        li.list-group-item.list-group-item-warning Német:
        li.list-group-item Alapfok, nyelvizsga nincs 
  br
  h3.text-center Rólam:
  .row
    .col-md-6-offset-3
      p.text-center A középiskolai tanulmányaim mellett sok időtt szakítottam a sportokra,mint  asztalitenisz ,röplapda és football.
        | Ezeket a mai napig szeretem, de elég ritkán tudok lehetőséget adni számukra. A programozással az egyetemen ismerkedtem meg
        | és kelltette fel érdeklőésemt, de ott elég csekély tudásra tettem szert.
        | Az akkori körülményeim miatt ekkor még úgy láttam, hogy tanulmáim befejezésére koncentrálok és 
        | csak önállőan hobby jelleggel kezdek bele programozási ismereteim bővítésébe. Ekkor alakult úgy, hogy mivel önállóan kellett
        | ellátnom magam, iskola mellett vállatam diákmunkát gyorsétteremben (közel 5 évig tarott).
        | Szerencsémre iskola befejezése után lehetőségem adódott egy ismerősömnél gyakorlati munkát végeznem,
        | egy online marketinggel foglalkozó cégnél ahol 1 évet töltöttem el, második felét Cipruson.
        | Miután hazajöttem azután találtam meg a training360 képzési felhívását, és most itt prezentálom ezt.

    
          
