.container
  h2.text-center(style="color:white;") Újdonságok
  ul.list-group.text-center
    li.list-group-item.list-group-item-success MongoDB,Mongoose
    li.list-group-item A telepítését szerencsére megoldottuk órán, viszont a legtöbb dologra saját magamnak kellett rájönnöm,
      | például saját felhasználó(ssh nélkül sikerült csak),
      br
      | egyedi táblák létrehozása,
      | lekérdezéseknél hogyan tudok keresni, a post mit tartalmaz és még sorolhatnám
    li.list-group-item.list-group-item-warning Google map
    li.list-group-item Szintén még nem csináltunk ilyet, sima html-be könnyű beleintegrálni 
      | viszont az angularos componentes környezetbe szintén máshogy kellett, azt külön package-el lehetett csak megoldani
    li.list-group-item.list-group-item-dark Angular - PUG
    li.list-group-item Összegségében én úgy tapasztaltam, hogy munkám végzésében 
      b CSAK HÁTRÁLTATOTT! 
      | Például:
      br
      | A routing funkció nem volt megoldható PUG template nyelvvel
      br
      | A signIn, signOut -nál location.reload() kellett hogy betöltse a módosult változókat
      br
      | Nem tudtam érdemben haználni a layoutokat - mivel azt routinggal oldottam meg
    li.list-group-item.list-group-item-success SignIn SignOut
    li.list-group-item Semmilyen péla megoldást nem csináltunk, ezért localstorage-al olottam meg a bejelentkezve maradást
   
