h1.text-center Üdvözlünk az oldalunkon
section.body-first
  .container
    .row
      .col-md-6
        img(src="/src/app/home/img/todo.jpg", alt="todo",style="max-width:100%;")
      .col-md-6
        h4.text-center Miről szól ez az oldal?
        ul
          li Yellowroad-os képzésünk egyik fő projektfeladata
          li Témának a határidőnapló elkészítését választottam
          li Egyedi design-t igyekeztem megvalósítani bootstrap-es keretrendszerben
section.body-second
  .container
    .row
      .col-md-6
        img(src="/src/app/home/img/honlap.jpg", alt="todo",style="max-width:100%;")
      .col-md-6
        h4.text-center Mit tartalmaz ez az oldal?
        ul
          li Főoldal amit épp böngészel
          li Határidőnapló kezelő oldal
          li Egy profiloldal magamról
          li Tudásbázis, ahol leírtam a tapasztalataimat észrevételeimet a feladatról
          li Restful Api, ahol a felhasználói adatoat lehet módosítani és ehhez segítséget is nyújt
          li Egy kapcsolati oldalt ahol a yellowroad elérhetőségeit tartalmazza (google maps)
          li A Sign In egy modal ahol regisztrálni és belépni lehet
          li Természetesen nem látszik, de a háttérben egy NodeJs - Express- MongoDB szerver fut
section.body-third
  .container
    h3.text-center Tanáraink kiknek sokat köszönhetünk:
    .row
      .col-md-6
        h4.text-center Gáll Gergely
        img(src="/src/app/home/img/gergo.jpg", alt="todo",style="max-width:100%;max-height:300px;")
        hr
        h5.text-center Elérhetőségek:
        ul
          li E-mail: Nagyon Titkos
          li Telefon: Nagyon Titkos
          li Cím: Nagyon Titkos
      .col-md-6
        h4.text-center Cserkó József
        img(src="/src/app/home/img/jozsi.jpg", alt="todo",style="max-width:100%;max-height:300px;")
        hr
        h5.text-center Elérhetőségek:
        ul
          li E-mail: Nagyon Titkos
          li Telefon: Nagyon Titkos
          li Cím: Nagyon Titkos
section.body-fourth
  .container
    h3.text-center Néhány fejtörő
    .row
      .col-md-6
        h5.text-center Enni vagy aludni, az itt a kérdés
        p Tegyük fel, hogy az ember pontosan két hétig bírja evés vagy alvás nélkül. 
          | Mit tennél kétheti éhezés és alvatlanság végén: ennél-e vagy aludnál?
      .col-md-6
        h5.text-center A három bölcs
        p Három bölcs elmegy a legnagyobb bölcsek bölcséhez, hogy megtudják tőle, ki közülük a legbölcsebb. 
          | A bölcsek bölcse elovesz öt kalapot: három feketét és két fehéret. Feltesz a bölcsek fejére két feketét, 
          | és egy fehéret, de a bölcsek nem tudják, hogy az öt kalapból melyeket teszi vissza a szekrénybe. 
          | Mindenki látja továbbá a másik kalapját, csak a sajátját nem. A bölcsek feladata kitalálni a saját kalapjuk színét.
    .row
      .col-md-6
        h5.text-center Hittérítők és kannibálok
        p Áll egy folyóparton 3 hittérítő, és 3 kannibál, át kell kelniük a folyón egy csónakkal, 
          | amibe csak két ember fér bele. Ha egy hittérítő egyedül marad a parton, miután elment a csónak, 
          | azt azonnal megeszik a kannibálok. Hogyan jutnak át?
      .col-md-6
        h5.text-center Mérlegeljünk
        p Van 10 kupac, kilencben 10 grammos kis golyók, egyben 9 grammos kis golyók. 
          | Az összes golyó egyformán néz ki. Egy közönséges skálás mérleg áll rendelkezésre, ami számszerűen mutatja a rárakott súlyt. 
          | Hogy lehet egyetlen egy méréssel meghatározni, hogy melyik kupacban vannak a 9 grammos golyók?



section.body-fifth
  .container
    h3.text-center Egy kis animáció
    .progress
      .progress-bar.progress-bar-striped.bg-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
    .progress
      .progress-bar.progress-bar-striped.bg-info(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
    .progress
      .progress-bar.progress-bar-striped.bg-warning(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
    .progress
      .progress-bar.progress-bar-striped.bg-danger(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
    
